.pList{
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-family: "Open Sans", sans-serif;
}
.pListImg{
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.pListTitles>h1{
  font-size: 18px;
  color: #444;
  font-family: "Open Sans", sans-serif;
}

.pListTitles>h2{
  font-size: 14px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}

.pListItem{
  flex:1;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .pList {
    width: 100%;
    max-width: 1024px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-gap: 20px;
    font-family: "Open Sans", sans-serif;
  }

  .pListItem {
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 20px; /* Add space between rows */
    padding-left: 15px; /* Add space to the left side of all left cells */
  }

  /* Special styling for the last item in the row */
  .pListItem:nth-child(2n) {
    margin-right: 20px; /* Add right margin for even items */
  }

  /* Adjust margin for the last item to fill the row */
  .pListItem:last-child {
    margin-right: 0; /* Remove right margin for the last item */
  }
}





