.mail {
  width: -webkit-fill-available;
  margin-top: 50px;
  background-color: #c2f4f5;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;
  font-family: "Open Sans", sans-serif;
}

.mailInputContainer > input {
  width: 450px;
  height: 50px;
  padding: 10px;
  border: none;
  margin-right: 10px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .mailInputContainer > input {
    margin-right: 0; /* Remove margin-right for input in responsive mode */
    width: 215px; /* Make the input full width in responsive mode */
    max-width: 280px; /* Limit the max width */
  }
  
  .mailInputContainer > button {
    margin-top: 20px; /* Add margin-top to center-align the button */
  }
  
  .mailTitle {
    text-align: center;
  }
}
